/* Start Gobal Rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "work sans", sans-serif;
  font-size: 14px;
}
@media (min-width: 576px) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}
@media (min-width: 576px) {
  .grid-3 {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

/* Start Grid System */
.container {
  width: 100%;
  padding: 0 5px;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
    padding: 0 15px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.special-heading {
  color: #ebeced;
  font-size: 4.2em;
  font-weight: bold;
  text-align: center;
  margin: 0;
  letter-spacing: -3px;
}
@media (min-width: 768px) {
  .special-heading {
    font-size: 6em;
  }
}
.special-heading + p {
  color: #777;
  text-align: center;
  font-size: 1.1em;
  margin: -30px -20px -35px 0;
  max-width: 100%;
}
@media (min-width: 768px) {
  .special-heading + p {
    margin: -35px 0;
  }
}

/* Start Header*/
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links .icon {
  display: flex;
  flex-flow: row-reverse wrap;
  align-content: space-between;
  width: 30px;
  height: 16px;
}
.header .links .icon span {
  background-color: black;
  width: 100%;
  height: 2px;
}
.header .links .icon span:nth-child(2) {
  width: 65%;
  transition: 0.3s;
}
.header .links .icon:hover span:nth-child(2) {
  width: 100%;
}
.header .links:hover ul {
  display: block;
}
.header .links ul {
  background-color: #F6F6F6;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: calc(100% + 15px);
  min-width: 200px;
  z-index: 1;
  display: none;
}
.header .links ul::before {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-bottom-color: #F6F6F6;
  right: 5px;
  top: -20px;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  color: #333;
  transition: 0.3s;
}
.header .links ul li:hover a {
  padding-left: 25px;
  background-color: rgba(16, 202, 183, 0.5098039216);
  color: black;
}
.header .links ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

/* Start Landing*/
.landing {
  background-image: url("../images/landing.jpg");
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 320px;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0;
  color: #10cab7;
  font-size: 3em;
}
.landing .intro-text p {
  font-size: 1.3em;
  line-height: 1.8;
}

/*Start Features*/
.features {
  background-color: #F6F6F6;
  padding: 30px 0;
}
@media (min-width: 576px) {
  .features {
    padding: 30px;
  }
}
.features .feature {
  text-align: center;
}
.features .feature i {
  color: #10cab7;
}
.features .feature h2 {
  margin: 30px 0;
  font-weight: 800;
}
.features .feature p {
  line-height: 1.8;
  color: #777;
  font-size: 1em;
}

/* Start Services*/
.services {
  padding: 60px 0;
}
.services .services-content {
  margin-top: 100px;
  gap: 30px;
}
.services .services-content .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services .services-content .column .image {
  display: none;
  position: relative;
  text-align: center;
}
.services .services-content .column .image::before {
  content: "";
  position: absolute;
  background-color: #2c4755;
  width: 100px;
  height: calc(100% + 100px);
  right: 0;
  top: -50px;
  z-index: -1;
}
@media (min-width: 1200px) {
  .services .services-content .column .image {
    display: block;
  }
}
.services .services-content .column .image img {
  width: 260px;
}
.services .service {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .services .service {
    flex-direction: row;
    text-align: left;
  }
}
.services .service i {
  color: #10cab7;
  flex: 0 0 60px;
}
.services .service h2 {
  margin: 0;
}
.services .service p {
  color: #777;
  line-height: 1.8;
  font-weight: 300;
  min-height: 160px;
}

/* Start Portfolio*/
.portfolio {
  background-color: #F6F6F6;
  padding: 60px 0;
}

.portfolio-content {
  margin-top: 100px;
  gap: 30px;
}
.portfolio-content .card {
  background-color: white;
}
.portfolio-content .card img {
  max-width: 100%;
}
.portfolio-content .card .info {
  padding: 20px;
}
.portfolio-content .card h2 {
  margin: 0;
}
.portfolio-content .card p {
  color: #777;
  line-height: 1.8;
  margin-bottom: 0;
}

/* Start About*/
.about {
  padding: 60px 0;
}

.about-content {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 992px) {
  .about-content {
    flex-direction: row;
    text-align: left;
  }
}
.about-content .image {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 0 auto 60px;
}
@media (min-width: 576px) {
  .about-content .image {
    width: 250px;
    height: 350px;
  }
}
@media (min-width: 992px) {
  .about-content .image {
    margin: 0;
    margin-left: 15px;
  }
}
.about-content .image::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  height: calc(100% + 80px);
  width: 50px;
  top: -40px;
  left: -18px;
  z-index: -1;
}
@media (min-width: 576px) {
  .about-content .image::before {
    height: calc(100% + 100px);
    width: 100px;
    top: -50px;
    left: -20px;
  }
}
.about-content .image::after {
  content: "";
  position: absolute;
  border-bottom: 25px solid #10cab7;
  border-left: 25px solid #10cab7;
  width: 40px;
  height: calc(100% - 20px);
  top: -20px;
  right: -25px;
  z-index: -1;
}
@media (min-width: 576px) {
  .about-content .image::after {
    border-bottom: 70px solid #10cab7;
    border-left: 80px solid #10cab7;
    width: 180px;
    top: -30px;
    right: -140px;
  }
}
.about-content .image img {
  max-width: 100%;
}
.about-content .text {
  flex-basis: calc(100% - 500px);
}
.about-content .text .p:first-child {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about-content .text hr {
  display: inline-block;
  border-color: #10cab7;
  width: 50%;
}
.about-content .text p:last-child {
  color: #777;
  line-height: 2;
}

/* Start Contact*/
.contact {
  background-color: #F6F6F6;
  padding: 60px 0;
}
.contact .info {
  margin-top: 100px;
  text-align: center;
}
.contact .info .label {
  color: #2c4755;
  font-size: 1.5em;
  font-weight: 800;
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link {
  display: block;
  color: var(--main-color);
  font-size: 1.5em;
  font-weight: 800;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 5px;
}
@media (min-width: 576px) {
  .contact .info .social {
    gap: 10px;
  }
}
.contact .info .social i {
  color: #10cab7;
}

/* Start Footer*/
.footer {
  background-color: #2c4755;
  color: white;
  padding: 30px 10px;
  font-size: 1.3em;
  text-align: center;
}
.footer span {
  font-weight: bold;
  color: #10cab7;
}