@mixin breakpoints($point) {
  @if $point == small {
    @media (min-width: 576px) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == large {
    @media (min-width: 992px) { @content; }
  }
  @else if $point == x-large {
    @media (min-width: 1200px) { @content; }
  }
};

@mixin prefixer($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: #{$value};
  }
  #{$property}: #{$value};
}

@mixin center-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}