$main-color: #10cab7;
$secondary-color: #2c4755;
$sub-color: #F6F6F6;
$sub-secondary-color: #777;
$section-padding: 60px;
$element-padding: 20px;
$container-margin-top: 100px;
$main-line-height: 1.8;
$main-transition-duration: 0.3s;